.divBlogrollContainer {
	display: table-cell;
	vertical-align: top;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-right: 10px;
	border: 1px solid gainsboro;
	background-color: white;
	padding-top: 5px;
	}
.divBlogroll {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	}
.divBlogrollTable {
	width: 100%;
	margin-right: 0;
	}

.divBlogrollTitle {
	display: table;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 15px;
	}
.spTitleArrow {
	display: table-cell;
	}
.spTitleText {
	display: table-cell;
	text-align: center;
	}
.spTitleArrowLeft {
	display: table-cell;
	display: none;
	padding-left: 10px;
	}
.spTitleArrowRight {
	display: table-cell;
	display: none;
	padding-right: 10px;
	}

.trBlogrollFeed {
	}
.trBlogrollFeed td {
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
.trBlogrollFeed .tdBlogrollFeedTitle {
	font-size: 15px;
	color: inherit;
	cursor: pointer;
	padding-left: 0;
	}
.trBlogrollFeed .tdBlogrollFeedTitle a {
	color: inherit;
	cursor: pointer;
	}
.trBlogrollFeed .tdBlogrollFeedTitle .spWhenUpdated {
	float: right;
	font-size: 12px;
	margin-top: 1px;
	padding-right: 2px;
	}
.trBlogrollFeed .tdBlogrollFeedTitle .spTitleString {
	display: inline-block;
	white-space: nowrap;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.8;
	}

.trBlogrollFeed {
	background-color: white; 
	}
.trBlogrollCursor {
	background-color: gainsboro;
	}
.trBlogrollCursor .tdBlogrollFeedTitle .spTitleString {
	opacity: 1.0;
	}

.trBlogrollFeed .tdMyFeedWhenUpdated {
	font-size: 12px;
	padding-left: 0;
	padding-right: 4px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	}
.trBlogrollFeed .tdBlogrollWedge {
	padding-left: 4px;
	padding-right: 0px;
	vertical-align: top;
	width: 12px;
	}

.divBlogrollSortLinks {
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 5px;
	}
.divBlogrollSortLinks .spTitleLink {
	margin-left: 16px;
	cursor: pointer;
	}
.divBlogrollSortLinks .spWhenLink {
	float: right;
	padding-right: 2px;
	cursor: pointer;
	}
.divBlogrollSortLinks .selected {
	font-weight: bold;
	}

.divNewsPod {
	display: none;
	font-size: 12px;
	padding-left: 0;
	padding-right: 5px;
	font-weight: normal;
	}
.darkCaretColor {
	opacity: .9;
	}
.lightCaretColor {
	opacity: .2;
	}

.ulFeedItems {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 10px;
	}
.liFeedItem {
	margin-bottom: 5px;
	line-height: 130%;
	}

.divNewsPod .spItemPubdate a {
	color: #0088CC;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	}
.divNewsPod .spItemPubdate a {
	color: inherit;
	}
.divNewsPod .spItemPubdate a:hover {
	text-decoration: underline;
	}

.liFeedItem .popover-content p {
	margin-bottom: 5px;
	}
.liFeedItem .popover-content p:last-child {
	margin-bottom: 0;
	}

@media screen and (max-width: 576px) { /* the official number used by bootstrap toolkit */
	.divBlogrollContainer {
		width: 190px;
		}
	
	.trBlogrollFeed td {
		padding-top: 4px;
		padding-bottom: 4px;
		}
	
	.trBlogrollFeed .tdBlogrollFeedTitle {
		font-size: 14px;
		}
	
	.trBlogrollFeed .tdBlogrollWedge {
		width: 12px;
		padding-left: 4px;
		padding-right: 0px;
		}
	
	.trBlogrollFeed .tdBlogrollFeedTitle .spTitleString {
		max-width: 115px;
		}
	
	}
